<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Item Details</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body class="flex-wrapper">
    <div>
      <%- include("partials/navbar.ejs", {user: user}) -%>
      <div class="page-container">
        <div id="detail-container">
          <div class="item-details-title">Item Details:</div>
          <div class="info-container width90">
            <div class="fontsize20 flex-row">
              <div class="bold-and-padded">Posted By:</div>
              <%= author %>
            </div>
          </div>
          <div class="info-container width90">
            <div class="fontsize20 flex-row">
              <div class="bold-and-padded">Title:</div>
              <%= item.title %>
            </div>
            <div class="fontsize20 margintop20 flex-row">
              <div class="bold-and-padded">Manufacturer:</div>
              <%= item.manufacturer %>
            </div>
            <div class="fontsize20 margintop20 flex-row">
              <div class="bold-and-padded">Recyclable:</div>
              <%= item.isRecyclable ? "Yes" : "No" %>
            </div>
            <div class="fontsize20 margintop20 flex-row">
              <div class="bold-and-padded">Info:</div>
              <%= item.info %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") -%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
